input {
  width: 500px;
  height: 40px;
  font-size: 18px;
}

#lista-de-productos {
  display: flex
}
/*aUTO PARA HEIGHT QUE NO DEFORME IMAGEN*/

.producto {
  width: 200px;
  height: auto; 
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*100 para que ocupe todo el contenedor*/
.producto img {
  width: 100%;
  height: auto
}